a {
	text-decoration:none;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.button-warning {
  color: #fff;
  background-color: #52351C;
  border-color: #00000;
}

.button-warning:focus,
.button-warning.focus {
  color: #fff;
  background-color: #5580BA;
  border-color: #FEFDFD;
}
.button-warning:hover {
  color: #fff;
  background-color: #5580BA;
  border-color: #F5F2ED;
}