table {
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
	font-size:16px;
	margin:25px;
	margin-left:-10px;
}

td, th {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
  margin-right:-30px;
}

tr {
	 background-color: #FFE2C2;
}